In [1]:
import pandas as pd 
import sqlite3
conn = sqlite3.connect('problem_4.db')
c= conn.cursor()

In [2]:
command1='''CREATE TABLE locations(
	location_id  		INT(3),
	street_address		VARCHAR(50) unique not null,
	postal_code		VARCHAR(10) not null,
	city			VARCHAR(50) not null,
	state_province		VARCHAR(50) not null,
	country			VARCHAR(50) not null,
	constraint 		l_lid_pk PRIMARY KEY (location_id)
)'''
c.execute(command1)

OperationalError: table locations already exists

In [3]:
command2='''CREATE TABLE departments(
	department_id 		INT(4),
	department_name	VARCHAR(20) unique not null,
	location_id  	     	  INT(3) not null,
	constraint 		d_did_pk PRIMARY KEY (department_id),
	constraint 		d_lid_fk FOREIGN KEY (location_id)
	references 		locations(location_id)
)'''
c.execute(command2)

OperationalError: table departments already exists

In [4]:
c.execute("INSERT INTO locations (location_id, street_address, postal_code, city, state_province, country)VALUES (100, '2 Nice Road', 'N2 7TH', 'London', 'Greater London', 'UK'),(200, '23 Pretty Road', 'BS1 8FD', 'Bristol', 'Bristol County', 'UK'),(300, '26 Great Street', 'BN1 4BF', 'Brigthon', 'Sussex', 'UK'),(400, '143 Lovely Road', 'CB1 2NV', 'Cambridge', 'Cambridgeshire', 'UK')")

In [6]:
c.execute("INSERT INTO departments (department_id, department_name, location_id) VALUES(10, 'IT', 100),(20, 'Operations', 200),(30, 'Sales', 300),(40, 'Marketing', 200),(50, 'Management','null')")

In [7]:
c.execute('SELECT * FROM locations')
for y in c:
    print (y)

(100, '2 Nice Road', 'N2 7TH', 'London', 'Greater London', 'UK')
(200, '23 Pretty Road', 'BS1 8FD', 'Bristol', 'Bristol County', 'UK')
(300, '26 Great Street', 'BN1 4BF', 'Brigthon', 'Sussex', 'UK')
(400, '143 Lovely Road', 'CB1 2NV', 'Cambridge', 'Cambridgeshire', 'UK')

In [11]:
c.execute('SELECT * FROM departments')
for x in c:
    print (x)

(10, 'IT', 100)
(20, 'Operations', 200)
(30, 'Sales', 300)
(40, 'Marketing', 200)
(50, 'Management', 'null')